<!DOCTYPE html>

<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

    <title>HiLaarisch</title>

    @Styles.Render(Bundles.Styles.Bootstrap)
    @Styles.Render(Bundles.Styles.Global)
    @RenderSection("css", required: false)
</head>
<body>
    @RenderSection("modals", required: false)

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HiLaarisch @VersionManager.FriendlyVersion</a>
            </div>

            @Html.Partial(Partials.Shared.NavigationBar)
        </div>
    </nav>

    <div class="loader center-loader hidden"></div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            @RenderSection("commands", required: true)
        </div>
    </nav>

    @Scripts.Render(Bundles.Scripts.JQuery)
    @Scripts.Render(Bundles.Scripts.Bootstrap)
    @RenderSection("scripts", required: false)
    @if (IsSectionDefined("modals"))
    {
        <script>
            $(function() {
                $(".modal[data-show='true']").modal("show");
            });
        </script>
    }
</body>

</html>