@model CustomerModel

<form action="/customers/edit" method="post" autocomplete="off" data-toggle="validator">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.EditorForModel()
    @Html.PartialSave()
</form>

@section commands { @Html.PartialBackCommand("customers") }
@section scripts
{
    @Scripts.Render(Bundles.Scripts.BootstrapValidator)
    <script>
        $(function ()
        {
            var grouplevel = @((int)Model.Level);
            $("input[name='@nameof(CustomerModel.Level)'][value='"+grouplevel+"']")
                .closest("label.btn")
                .trigger("click");
        });
    </script>
}