@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<form action="/customers/edit" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary btn-lg btn-block">Klant wijzigen</button>
</form>

@section commands { @Html.PartialBackCommand("customers") }
@section scripts
{
    <script>
        $(function ()
        {
            var grouplevel = @((int)Model.Level);
            $("input[name='@nameof(CustomerModel.Level)'][value='"+grouplevel+"']")
                .closest("label.btn")
                .trigger("click");
        });
    </script>
}