@model CustomerModel

<form action="/customers/new" method="post" autocomplete="off" data-toggle="validator">
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    @Html.PartialSave()
</form>

@section commands { @Html.PartialBackCommand("customers") }
@section scripts
{
    @Scripts.Render(Bundles.Scripts.BootstrapValidator)
}