<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HiLaarIsch</title>

    @Styles.Render(Bundles.Styles.bootstrap)
    @if (User.Identity.IsAuthenticated)
    {
        @Styles.Render(Bundles.Styles.global)
    }
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">HiLaarIsch</a>
                </div>

                @Html.Partial(Partials.Shared.NavigationBar)
            </div>
        </nav>
    }

    <div class="container-fluid">
        @RenderBody()
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                @RenderSection("commands", required: true)
            </div>
        </nav>
    }

    @Scripts.Render(Bundles.Scripts.jQuery)
    @Scripts.Render(Bundles.Scripts.bootstrap)
    @RenderSection("scripts", required: false)
</body>

</html>