@using HiLaarIsch.Contract.DTOs
@model CustomerModel

<fieldset>
    <legend>Gebruiker gegevens</legend>

    <div class="form-group">
        <input name="@nameof(CustomerModel.Email)" type="email" class="form-control" id="email" value="@Model.Email" placeholder="E-mail">
    </div>
</fieldset>

<fieldset>
    <legend>Klant gegevens</legend>

    <div class="form-group">
        <input name="@nameof(CustomerModel.Firstname)" type="text" class="form-control" id="firstname" value="@Model.Firstname" placeholder="Voornaam">
    </div>

    <div class="form-group">
        <input name="@nameof(CustomerModel.Surname)" type="text" class="form-control" id="surname" value="@Model.Surname" placeholder="Achternaam">
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default">
                <input name="@nameof(CustomerModel.Level)" type="radio" id="shetland-class" value="1"> Shetten les
            </label>
            <label class="btn btn-default">
                <input name="@nameof(CustomerModel.Level)" type="radio" id="children-class" value="2"> Kinder les
            </label>
            <label class="btn btn-default">
                <input name="@nameof(CustomerModel.Level)" type="radio" id="adult-class" value="3"> Volwassen les
            </label>
        </div>
    </div>

    <div class="form-group">
        <input name="@nameof(CustomerModel.PhoneNumber)" type="tel" class="form-control" id="phonenumber" value="@Model.PhoneNumber" placeholder="Telefoonnummer" >
    </div>

    <div class="form-group">
        <input name="@nameof(CustomerModel.EmergencyNumber)" type="tel" class="form-control" id="emergencynumber" value="@Model.EmergencyNumber" placeholder="Noodnummer">
    </div>

    <div class="form-group">
        <textarea name="@nameof(CustomerModel.Address)" class="form-control" id="address" value="@Model.Address" placeholder="Adres gegevens" rows="5">@Model.Address</textarea>
    </div>
</fieldset>